version: "3"

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  vote:
    build:
      context: "{{ voting_app_demo_user_home }}/Voting-App-Infrastructure-Automation/vote"
    ports:
      - "5000:80"
    depends_on:
      - redis

  worker:
    build:
      context: "{{ voting_app_demo_user_home }}/Voting-App-Infrastructure-Automation/worker"
    depends_on:
      - redis
      - db

  result:
    build:
      context: "{{ voting_app_demo_user_home }}/Voting-App-Infrastructure-Automation/result"
    ports:
      - "5001:80"
    depends_on:
      - db
